/* 본문, navbar 분리 */

.content {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 22rem;
}

.navbar {
  position: fixed;
  border: 1px solid black;
  left: 0;
  right: 0;
  bottom: 0;
  height: 22rem;
}

/* navbar 요소 정렬 */
.one {
  width: 150px;
  height: 150px;
  background-color: aquamarine;
  margin-left: 414px;

}

.two {
  width: 200px;
  height: 200px;
  /* background-color: crimson; */
  float: left;
  margin-top: 100px;
  margin-left: 100px;
}

.three {
  width: 200px;
  height: 200px;
  /* background-color: rgb(67, 255, 236); */
  margin-left: 678px;
  margin-top: 100px;
}

.parent {
  position: relative;
}

.one, .two, .three, .four {
  position: absolute;
}

.two, .three {
  text-align: center;
}

.four {
  width: 978px;
  height: 350px;
  border: 1px solid red;
  margin-top: 70px;
  border-radius: 50px;
  border-bottom: none;
}

img {
  width: 120px;
  height: 120px;
  margin-bottom: 0px;
}

.navbar p {
  margin-top: 0px;
  font-size: 30px;
}

